In [15]:
import os
import sys
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

from src import settings
from src.utils import fileio, graph_utils

TREATMENT = "CsCh"

INPUT_DIR = "/home/milky/drosophila-SNA/data/results/distances_traveled/CsCh"
distances = fileio.load_files_from_folder(INPUT_DIR, ".csv", n_sort=True)

for group_name, group_path in distances.items():
    df = pd.read_csv(group_path, index_col=0)
    df_grouped = df.groupby(df.index // 1440).sum()
    df_grouped.index = df_grouped.index+1
    df_grouped = df_grouped.T
    
    sys.exit()
    df_grouped['total_movement'] = df_grouped.sum(axis=1)
    sem = np.std(df_grouped['total_movement']) / np.sqrt(len(df_grouped['total_movement']))
    group_name_without_ext = group_name.split('.')[0]

    plt.plot(df_grouped.index, df_grouped['total_movement'], label=group_name_without_ext)
    plt.fill_between(df_grouped.index, df_grouped['total_movement']-sem, df_grouped['total_movement']+sem, alpha=0.2)
    plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))


plt.title(f"Amount of movement for: {TREATMENT}")
plt.xlabel("minute")
plt.ylabel("count")
plt.show()

SystemExit:

/home/milky/Envs/drosophilaSNA/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3516: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [16]:
df_grouped

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
fly9,440.483844,353.920196,451.777795,330.442995,431.357201,352.820188,289.971705,322.091160,455.854847,287.628933,...,267.904307,352.776604,294.631210,288.115807,280.171620,257.017930,279.883129,241.832998,281.731715,248.909285
fly3,288.505189,266.747252,438.398675,270.188178,321.453791,398.123521,264.075191,317.286472,270.291640,319.245590,...,334.782148,249.857742,232.238524,271.967734,324.165468,278.192295,266.613882,285.033128,173.960179,358.909850
fly2,505.188971,432.762808,326.880553,380.133818,406.629556,363.867672,391.277869,428.233639,233.874953,433.474120,...,282.604308,314.364498,365.901617,365.276284,261.125167,232.130626,234.456603,260.551258,292.836809,355.892019
fly11,470.755501,451.474368,468.115791,385.326325,145.644863,359.799551,184.851912,231.622358,309.017784,251.162161,...,175.439007,286.521969,252.459002,326.268695,196.242240,325.857558,407.545537,306.043887,226.120050,297.136537
fly12,442.477109,241.331924,296.869310,375.404573,179.165873,295.315085,303.037702,275.321721,233.146482,278.170388,...,274.327893,143.135433,188.951071,205.395640,322.940113,231.292345,206.768677,86.235687,315.712709,280.246549
fly1,428.981704,433.795112,237.971104,447.835203,425.890419,462.768235,304.861499,399.755932,351.478670,368.202384,...,279.988538,278.085856,362.915745,107.703510,297.435595,366.710769,363.048802,326.015162,338.059336,334.713317
fly6,432.117385,229.437405,320.189424,282.774141,285.885630,399.080565,293.932071,159.381825,341.767819,269.949833,...,257.725053,199.926294,102.652188,244.015779,287.301256,270.574620,260.789816,241.467773,190.766018,45.236667
fly4,372.343957,414.328601,388.061157,335.681750,336.321237,379.610544,392.631728,268.539463,454.682269,284.232902,...,221.532294,239.931464,280.954532,318.331440,301.831552,291.598006,262.726992,286.132332,324.420560,311.122556
fly7,437.422086,413.047144,364.171242,288.366849,242.904915,381.669663,385.225586,381.547040,323.434085,280.536958,...,310.005884,266.855751,71.690057,242.152045,422.997284,334.332442,290.776093,194.900277,268.430330,342.599964
fly5,258.415177,538.410001,434.338254,375.283854,350.190006,334.380503,410.688945,312.252216,268.215829,232.452025,...,264.723668,338.193149,375.745014,201.621139,299.396141,265.439793,329.944928,354.069549,264.910766,198.704506
fly8,365.373446,236.652281,322.976378,255.778689,379.623848,373.779514,469.764383,417.047228,340.700346,268.772544,...,305.790405,287.453722,330.591539,275.306112,333.035016,354.524338,367.842288,298.342838,239.389648,288.923268
fly10,429.429760,462.245266,464.866386,414.611210,459.729591,444.232675,473.177384,422.233634,361.148149,412.785943,...,449.996424,384.611146,395.941418,391.934638,318.975333,498.499961,347.000304,358.447201,430.302450,410.058498